.product-card {
  box-sizing: border-box;
  display: flex;
  font-family: var(--font-family);

  &__description {
    &__title {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
}
