.shipping-form {
  box-sizing: border-box;
  display: flex;
  font-family: var(--font-family);

    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  
    /* Firefox */
    input[type='number'] {
      -moz-appearance: textfield;
    }
}
