@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base{
    @font-face {
        font-family: "Microsoft YaHei";
        src: url("./fonts/microsoft-yahei.ttf") format("ttf");
    }
} */

.App{
    display: grid;
    grid-template-areas: 
    'header'
    'main'
    'footer';
    grid-template-columns: 1fr;
    grid-template-rows: 4rem 1fr 3rem;
}

@media (max-width: 768px){
  .App{
    grid-template-rows: 13rem 1fr 3rem;
  }
}

@media (max-width: 640px){
    .App{
      grid-template-rows: 11rem 1fr 3rem;
    }
  }